<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <h1>Priorität</h1>
    <p>Wähle eine Priorität aus, die dein Ziel hat.
    </p>
    <ion-label position="stacked">
    </ion-label>

  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="p-4" (click)="selectCategory(1)">Priorität 1</ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="selectCategory(2)">Priorität 2</ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="p-4" (click)="selectCategory(3)">Priorität 3</ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card (click)="selectCategory(4)">Priorität 4</ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="p-4" (click)="selectCategory(5)">Priorität 5</ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>