<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Back" [icon]="buttonIcon">
            </ion-back-button>
        </ion-buttons>
        <ion-title>Todos für dein Goal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>{{newGoal}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-input type="text" placeholder="Enter Todo" [(ngModel)]="taskName"></ion-input>
        <ion-button fill="clear" size="default" (click)="showPicker()">Prio: {{prio}}</ion-button>

        <div class="item-note" item-end>
            <ion-button color="primary" (click)="addTask()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </div>
    </ion-item>
    <ion-list>
        <ng-container *ngFor="let todo of newTodos; let i=index">
            <ion-item-sliding>
                <ion-item>
                    {{todo.name}}
                    <ion-note slot="end">{{todo.prio}}</ion-note>

                </ion-item>
                <ion-item-options>
                    <ion-item-option color="danger" (click)="deleteTask(i)">
                        <ion-icon name="trash"></ion-icon>

                    </ion-item-option>

                </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </ion-list>

    <ion-button type="submit" color="dark" expand="block" (click)="continue()">
        Weiter
    </ion-button>

</ion-content>