<ion-header>
    <ion-toolbar>
        <ion-title>Todos</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-addtodo></app-addtodo>
    <ion-toolbar>
        <ion-segment color="secondary" (ionChange)="segmentChanged($event)" value="today">
            <ion-segment-button value="today">
                <ion-label>Heutige Todos </ion-label>
            </ion-segment-button>
            <ion-segment-button value="planed">
                <ion-label>Geplante Todos</ion-label>
            </ion-segment-button>
            <ion-segment-button value="sometime">
                <ion-label>Ungeplante Todos </ion-label>
            </ion-segment-button>

        </ion-segment>

    </ion-toolbar>

    <div>
        <ng-container *ngIf="state == 'today'">
            <ion-list>
                <ng-container *ngFor="let todo of taskList; let i=index">
                    <ng-container *ngIf="!todo.done">
                        <ion-item-sliding *ngIf="todo.state=='today'">
                            <ion-item>
                                <ion-label>
                                    {{todo.name}}
                                </ion-label>
                                <ion-note slot="end">{{todo.prio}}</ion-note>
                            </ion-item>
                            <ion-item-options>
                                <ion-item-option color="primary" (click)="deleteTask(i)">
                                    <ion-icon name="checkmark-outline"></ion-icon>

                                </ion-item-option>
                                <ion-item-option color="secondary" (click)="openTodoModal(i)">
                                    <ion-icon name="calendar-outline"></ion-icon>

                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ng-container>
                </ng-container>
            </ion-list>
        </ng-container>
        <ng-container *ngIf="state == 'planed'">
            <ion-list>
                <ng-container *ngFor="let todo of taskList; let i=index">
                    <ng-container *ngIf="!todo.done">
                        <ion-item-sliding *ngIf="todo.state == 'planed'">
                            <ion-item>
                                <ion-label>
                                    {{todo.name}}
                                </ion-label>
                                <ion-note slot="end">{{todo.prio}}</ion-note>
                            </ion-item>
                            <ion-item-options>
                                <ion-item-option color="primary" (click)="deleteTask(i)">
                                    <ion-icon name="checkmark-outline"></ion-icon>

                                </ion-item-option>
                                <ion-item-option color="secondary" (click)="openTodoModal(i)">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>


                    </ng-container>
                </ng-container>
            </ion-list>
        </ng-container>
        <ng-container *ngIf="state == 'sometime'">
            <ion-list>
                <ng-container *ngFor="let todo of taskList; let i=index">
                    <ng-container *ngIf="!todo.done">
                        <ion-item-sliding *ngIf="todo.state == 'sometime'">
                            <ion-item>
                                <ion-label>
                                    {{todo.name}}
                                </ion-label>
                                <ion-note slot="end">{{todo.prio}}</ion-note>
                            </ion-item>
                            <ion-item-options>
                                <ion-item-option color="danger" (click)="deleteTask(i)">
                                    <ion-icon name="trash"></ion-icon>
                                </ion-item-option>
                                <ion-item-option color="secondary" (click)="openTodoModal(i)">
                                    <ion-icon name="calendar-outline"></ion-icon>
                                </ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>


                    </ng-container>
                </ng-container>
            </ion-list>
        </ng-container>
    </div>
</ion-content>