<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'SETTINGS'| translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>{{'SELECTLANGUAGE' | translate}}</ion-label>
    <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
      <ion-select-option value="en">{{'ENGLISH' | translate}}</ion-select-option>
      <ion-select-option value="de">{{'GERMAN'| translate}}</ion-select-option>
      <ion-select-option value="fr">{{'FRENCH'| translate}}</ion-select-option>
    </ion-select>
  </ion-item>


</ion-content>